body {
  background: url(https://th.bing.com/th/id/OIP.yuJ2RAytR-BtAC2MwHs3awHaEK?pid=ImgDet&rs=1);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: 0.5px 0.5px 5px yellow;
  color: rgba(255, 255, 0, 0.5);
}

p {
  text-shadow: 0.3px 0.3px 15px yellow;
  color: rgba(255, 255, 0, 0.5);
  font-size: medium;
}

.starship-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.3px 0.3px 3px yellow;
  color: rgba(255, 255, 0, 0.5);
  font-size: larger;
  box-shadow: 0 0 5px yellow;
  border: 1px solid rgba(255, 255, 0, 0.5);
  border-radius: 10px;
  width: 200px;
}

.starship-links:hover {
  text-shadow: 0.3px 0.3px 3px red;
  color: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 5px red;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.App {
  text-align: center;
}

.all-starships {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
  gap: 2em;
}

.starship-div {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px;
  margin: 1rem;
}

.starship-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
  align-items: center;
}

.return-button {
  text-decoration: none;
  text-shadow: 0.3px 0.3px 3px yellow;
  color: rgba(255, 255, 0, 0.5);
}

.return-button:hover {
  text-shadow: 0.3px 0.3px 3px red;
  color: rgba(255, 0, 0, 0.5);
}

.starship-details {
  text-shadow: 0.3px 0.3px 15px yellow;
  color: rgba(255, 255, 0, 0.5);
  font-size: medium;
  box-shadow: 0 0 5px yellow;
  border: 1px solid rgba(255, 255, 0, 0.5);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 15px;
  margin: 1rem;
  width: 60vw;
}

.pilot-list {
  display: flex;
  justify-content: center;
}